footer.footer
.footer__logo
img(src="/img/logo-green.png", alt="Natours logo")
ul.footer__nav
li: a(href="#") About Us
li: a(href="#") Download
li: a(href="#") Become Guide
li: a(href="#") Careers
li: a(href="#") Contact
li: a(href="#") Services
p.footer__copyright &copy; by Debarshi Mondal

