extends base

block content   
    main.main
        .error
           .error__title
                img.img-401page(src="/img/undraw_access_denied_6w73.png", height="500px", alt="No Image")
                h2.error__emoji &nbsp;
                .error__msg=message     