extends base

block append head
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

block content
  main.main
    .login-form
      center
        strong.text-center
          i.fas.fa-lock.fa-5x
      .card-body.px-lg-5
        form.text-center(style="color: #757575;").forgotpass
          p.text-forgot Recover your password here. Type your registered email only!
          .form__group
            label.form__label(for='email') Email address
            input#email.form__input(type='email', placeholder='you@example.com', required)
          .form__group
            button#btn-dis.btn.btn--green.text-login(style="background-color: #55c57a; color: white")
              h2 Submit