extends base

block append head
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css" rel="stylesheet" />

block content
  .container
    .form-gap
    .container
      .row
        .col-md-4.col-md-offset-4
          .panel.panel-default
            .panel-body
              .text-center
                h3
                  i.fas.fa-key.fa-3x
                h2.text-center Reset Your Password?
                .panel-body
                  form#register-form.form(action="" role="form" autocomplete="off" method="post")
                    .form-group
                      .input-group
                        span.input-group-addon
                          i.fas.fa-key
                        input#password.form-control(name="pass1" placeholder="Enter New Password" type="password" required="")
                    .form-group
                      .input-group
                        span.input-group-addon
                          i.fas.fa-key
                        input#password.form-control(name="pass2" placeholder="Confirm Password" type="password" required="")
                    .form-group
                      input.btn.btn-lg.btn-primary.btn-block(name="recover-submit" value="Reset Password" type="submit")
                    input#token.hide(type="hidden" name="token" value="")
